body{
    background: rgb(222, 101, 226);
}
div{

    margin-left: 520px;

}
.box{
    width: 400px;
    height:300px;
    background: lightcoral;
    margin-top: 90px;
    margin-left:420px;
    padding:50px;
}
input{
    margin-bottom: 20px;
    margin-left: 0%;
    width:100%;
    border-radius:10px 0 10px 0;
    background: pink;
    padding:9px;


}
span{
    color: rgb(85, 3, 85);

}
h1{
    color: rgb(73, 43, 73);

}
h3{
    color:rgb(54, 14, 54);
}
button{
    width: 100%;
    border-radius:10px;
    padding:10px 0;
    background: rgb(44, 13, 44);
    color:rgb(197, 136, 184);
    text-transform:uppercase;
    margin-bottom: 2px;
}
a{
    margin-left: 70px;
    color: rgb(51, 17, 23)
}